<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadFeature === 'recipe'"></app-recipes>
      <app-shopping-list
        *ngIf="loadFeature === 'shopping-list'"
      ></app-shopping-list>
    </div>
  </div>

  <div>
    <input style="margin-top: 20px" type="text" [(ngModel)]="username" />
    <p>{{ username }}</p>
  </div>
  <div>
    <button
      style="margin-bottom: 20px"
      [disabled]="username === ''"
      (click)="DoReset()"
    >
      OK
    </button>
  </div>
</div>
